<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GitRust{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/app.css?v=1">
</head>
<body>
    {% block body %}{% endblock %}
    <script src="/static/js/app.js?v=1"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
